<section id="jobsnewsletter">
    <div class="container">
        <h2 class="section-title">{{ tl.menu.jobsnewsletter }}</h2>
        <div class="title-border"></div>
        <div class="section-container">
            <div class="item jobs">
                <h4 class="item-title">{{ tl.jobs.jobs }}</h4>
                <div class="item-text text-center">
                    <p>{{ tl.jobs.jobtext }}</p>
                    <a target="_blank" href="http://www.lakran.com/vacatures/" class="btn-primary-gradient">{{ tl.jobs.viewjobs }}</a>
                </div>
            </div>
            <div class="item newsletter">
                <h4 class="item-title">{{ tl.jobs.mailinglist }}</h4>
                <div class="item-text text-center">
                    <p>{{ tl.jobs.mailingtext }}</p>
                    <a target="_blank" href="http://eepurl.com/dv7Vwz" class="btn-primary-gradient">{{ tl.jobs.signup }}</a>
                </div>
            </div>
        </div>
    </div>
</section>