<nav id="nav-bar">
    <div class="left-menu">
        <img onclick="menuClick('#hero-slider')" src="./public/images/lakran-procurement-professionals.png" alt="LAKRAN Procurement Professionals">
    </div>
    <div class="right-menu">
        <div class="mobile-toggle" onclick="toggleMobileMenu()">
            <div class="nav-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <ul class="menu-items">
            <li class="menu-item menu-item-1">
                <a onclick="menuClick('#reasons')">{{ tl.menu.ourreasons }}</a>
            </li>
            <li class="menu-item menu-item-2">
                <a onclick="menuClick('#ourservices')">{{ tl.menu.ourservices }}</a>
            </li>
            <li class="menu-item menu-item-3">
                <a onclick="menuClick('#blogs')">{{ tl.menu.blog }}</a>
            </li>
            <li class="menu-item menu-item-4">
                <a onclick="menuClick('#wow')">WOW</a>
            </li>
            <li class="menu-item menu-item-5">
                <a onclick="menuClick('#jobsnewsletter')">{{ tl.menu.jobs }}</a>
            </li>
            <li class="menu-item menu-item-6">
                <a onclick="menuClick('#contact')">{{ tl.menu.contact }}</a>
            </li>
            {{!-- <li id="language" class="menu-item menu-item-7 lang"></li> --}}
            <li id="language" class="menu-item menu-item-6">
                <div class="dropdown">
                    <a class="current"><img src="" alt=""> <span class="fa fa-caret-down"></span></a>
                    <ul class="dropdown-menu">
                        <li class="item en"><a onclick="setLang('en')"><img src="./public/images/lang/en.png" alt="English"> English</a></li>
                        <li class="item nl"><a onclick="setLang('nl')"><img src="./public/images/lang/nl.png" alt="Nederlands"> Nederlands</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>