<section id="ourservices">
    <div class="coffee-daphne">
        <img class="with-cloud" src="./public/images/daphne/daphnemetaroma.svg" alt="Daphne">
        <img class="without-cloud" src="./public/images/daphne/daphnezonderaroma.svg" alt="Daphne">
    </div>
    <div class="container container-puzzle">
        <h2 class="section-title">{{ tl.menu.ourservices }}</h2>
        <div class="title-border"></div>
        <div class="puzzles">
            <div class="whole-puzzle">
                {{> puzzle-svg}}
                <div class="popups">
                    <div class="popup strategy">
                        <p class="bold">{{ tl.ourservices.righttitle }}</p>
                        <img src="./public/images/daphne/coming_soon.png" alt="Coming soon">
                    </div>
                    <div class="popup insights">
                        <p class="bold">{{ tl.ourservices.righttitle }}</p>
                        <img src="./public/images/logos/tauw-logo.png" alt="Tauw">
                        <a href="/customer-case-insights" class="btn-primary-gradient">
                            {{ tl.ourservices.view }}
                        </a>
                    </div>
                    <div class="popup solutioning">
                        <p class="bold">{{ tl.ourservices.righttitle }}</p>
                        <img src="./public/images/daphne/coming_soon.png" alt="Coming soon">
                    </div>
                    <div class="popup management">
                        <p class="bold">{{ tl.ourservices.righttitle }}</p>
                        <img src="./public/images/logos/cz-logo.svg" alt="CZ">
                        <a href="/customer-case-management" class="btn-primary-gradient">
                            {{ tl.ourservices.view }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section-text">
            <div class="left-text">
                <span class="text strategy">
                    <h4>{{ tl.ourservices.strategytitle }}</h4>
                    <p>{{ tl.ourservices.strategytext }}</p>
                    <a href="/strategy-as-a-service" class="btn-primary-gradient">{{ tl.ourservices.leftbtn }}</a>
                </span>
                <span class="text insights">
                    <h4>{{ tl.ourservices.insightstitle }}</h4>
                    <p>{{ tl.ourservices.insightstext }}</p>
                    <a href="/insights-as-a-service" class="btn-primary-gradient">{{ tl.ourservices.leftbtn }}</a>
                </span>
                <span class="text solutioning">
                    <h4>{{ tl.ourservices.solutioningtitle }}</h4>
                    <p>{{ tl.ourservices.solutioningtext }}</p>
                    <a href="/solutioning-as-a-service" class="btn-primary-gradient">{{ tl.ourservices.leftbtn }}</a>
                </span>
                <span class="text management">
                    <h4>{{ tl.ourservices.managementtitle }}</h4>
                    <p>{{ tl.ourservices.managementtext }}</p>
                    <a href="/management-as-a-service" class="btn-primary-gradient">{{ tl.ourservices.leftbtn }}</a>
                </span>
            </div>
            <div class="right-text">              
                <span class="text strategy">
                    <h4>{{ tl.ourservices.righttitle }}</h4>
                    <p>{{ tl.ourservices.strategycasetext }}</p>
                    <a href="/customer-case-strategy" class="btn-primary-gradient">{{ tl.ourservices.leftbtn }}</a>
                </span>
                <span class="text insights">
                    <h4>{{ tl.ourservices.righttitle }}</h4>
                    <p>{{ tl.ourservices.insightscasetext }}</p>
                    <a href="/customer-case-insights" class="btn-primary-gradient">{{ tl.ourservices.leftbtn }}</a>
                </span>
                <span class="text solutioning">
                    <h4>{{ tl.ourservices.righttitle }}</h4>
                    <p>{{ tl.ourservices.solutioningcasetext }}</p>
                    <a href="/customer-case-solutioning" class="btn-primary-gradient">{{ tl.ourservices.leftbtn }}</a>
                </span>
                <span class="text management">
                    <h4>{{ tl.ourservices.righttitle }}</h4>
                    <p>{{ tl.ourservices.managementcasetext }}</p>
                    <a href="/customer-case-management" class="btn-primary-gradient">{{ tl.ourservices.leftbtn }}</a>
                </span>
            </div>
        </div>
    </div>
</section>