<section id="ourservices">
    <div class="coffee-daphne">
        <img class="with-cloud" src="./public/images/daphne/daphnemetaroma.svg" alt="Daphne">
        <img class="without-cloud" src="./public/images/daphne/daphnezonderaroma.svg" alt="Daphne">
    </div>
    <div class="container container-puzzle">
        <h2 class="section-title">{{ tl.menu.ourservices }}</h2>
        <div class="title-border"></div>
        <div class="puzzles">
            <div class="whole-puzzle">
                {{> puzzle-svg}}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section-text">
            <div class="left-text">
                <span class="text strategy">
                    <h4>{{ tl.ourservices.strategytitle }}</h4>
                    <p>{{ tl.ourservices.strategytext }}</p>
                    <a href="/strategy-as-a-service" class="btn-primary-gradient">{{ tl.ourservices.leftbtn }}</a>
                </span>
                <span class="text insights">
                    <h4>{{ tl.ourservices.insightstitle }}</h4>
                    <p>{{ tl.ourservices.insightstext }}</p>
                    <a href="/insights-as-a-service" class="btn-primary-gradient">{{ tl.ourservices.leftbtn }}</a>
                </span>
                <span class="text solutioning">
                    <h4>{{ tl.ourservices.solutioningtitle }}</h4>
                    <p>{{ tl.ourservices.solutioningtext }}</p>
                    <a href="/solutioning-as-a-service" class="btn-primary-gradient">{{ tl.ourservices.leftbtn }}</a>
                </span>
                <span class="text management">
                    <h4>{{ tl.ourservices.managementtitle }}</h4>
                    <p>{{ tl.ourservices.managementtext }}</p>
                    <a href="/management-as-a-service" class="btn-primary-gradient">{{ tl.ourservices.leftbtn }}</a>
                </span>
            </div>
            <div class="right-text">
                <h4>{{ tl.ourservices.righttitle }}</h4>
                <p>{{ tl.ourservices.righttext }}</p>
                <button class="btn-primary-invert">{{ tl.ourservices.rightbtn }}</button>
            </div>
        </div>
    </div>
</section>