<section id="partnerships">
    <div class="container">
        <h2 class="section-title">Partnerships</h2>
        <div class="title-border"></div>
        <div class="scroll">
            <div class="scroll-bar">
                <ul>
                    <li><img class="logo sap" src="./public/images/partners/sap-bw.png" alt="SAP"></li>
                    <li><img class="logo coupa" src="./public/images/partners/coupa-bw.png" alt="Coupa"></li>
                    <li><img class="logo basware" src="./public/images/partners/basware-bw.png" alt="Basware"></li>
                    <li><img class="logo ariba" src="./public/images/partners/ariba-bw.png" alt="Ariba"></li>
                    <li><img class="logo zycus" src="./public/images/partners/zycus-bw.png" alt="Zycus"></li>
                    <li><img class="logo esize" src="./public/images/partners/esize-bw.png" alt="Esize"></li>
                    <li><img class="logo fieldglass" src="./public/images/partners/fieldglass-bw.png" alt="Fieldglass"></li>
                    <li><img class="logo proactive" src="./public/images/partners/proactive-bw.png" alt="Pro Active"></li>
                    <li><img class="logo synertrade" src="./public/images/partners/synertrade-bw.png" alt="Synertrade"></li>
                </ul>
            </div>
            <a class='prev'>&#10094;</a>
            <a class='next'>&#10095;</a>
        </div>
        <div class="partner-info">
            <div class="base">
                <p>{{ tl.partners.choose }}</p>
            </div>
            <div class="info sap">
                <p>{{ tl.partners.sapinfo }}</p>
            </div>
            <div class="info coupa">
                <p>{{ tl.partners.coupainfo }}</p>
            </div>
            <div class="info basware">
                <p>{{ tl.partners.baswareinfo }}</p>
            </div>
            <div class="info ariba">
                <p>{{ tl.partners.aribainfo }}</p>
            </div>
            <div class="info zycus">
                <p>{{ tl.partners.zycusinfo }}</p>
            </div>
            <div class="info esize">
                <p>{{ tl.partners.esizeinfo }}</p>
            </div>
            <div class="info fieldglass">
                <p>{{ tl.partners.fieldglassinfo }}</p>
            </div>
            <div class="info proactive">
                <p>{{ tl.partners.proactiveinfo }}</p>
            </div>
            <div class="info synertrade">
                <p>{{ tl.partners.synertradeinfo }}</p>
            </div>
        </div>
    </div>
</section>