<div id="hero-slider">
    <div class="slide-container">
        <ul>
            <li class="myslides slide-1">
                <img class="logo" src="./public/images/lakran-procurement-professionals.png" alt="LAKRAN Procurement Professionals">
                <div class="logo-text">
                    <span class="title">LAKRAN</span>
                    <span class="subtitle-1">Procurement</span>
                    <span class="subtitle-2">Professionals</span>
                </div>
                <div class="text">{{ tl.slider.slide1title }}</div>
                <div class="buttons">
                    <a onclick="scrollToReason('why')" class="btn-white-transparent-xl">{{ tl.slider.ourreasons }}</a><br />
                    <a onclick="menuClick('#ourservices')" class="btn-white-transparent-xl">{{ tl.slider.ourservices }}</a>
                </div>
            </li>
            <li class="myslides slide-2">
                <img class="logo" src="./public/images/lakran-procurement-professionals.png" alt="LAKRAN Procurement Professionals">
                <div class="logo-text">
                    <span class="title">LAKRAN</span>
                    <span class="subtitle-1">Procurement</span>
                    <span class="subtitle-2">Professionals</span>
                </div>
                <div class="text">{{ tl.slider.slide2title }}</div>
                <div class="buttons">
                    <a onclick="scrollToReason('how')" class="btn-white-transparent-xl">{{ tl.slider.ourreasons }}</a><br />
                    <a onclick="menuClick('#ourservices')" class="btn-white-transparent-xl">{{ tl.slider.ourservices }}</a>
                </div>
            </li>
            <li class="myslides slide-3">
                <img class="logo" src="./public/images/lakran-procurement-professionals.png" alt="LAKRAN Procurement Professionals">
                <div class="logo-text">
                    <span class="title">LAKRAN</span>
                    <span class="subtitle-1">Procurement</span>
                    <span class="subtitle-2">Professionals</span>
                </div>
                <div class="text">{{ tl.slider.slide3title }}</div>
                <div class="buttons">
                    <a onclick="scrollToReason('what')" class="btn-white-transparent-xl">{{ tl.slider.ourreasons }}</a><br />
                    <a onclick="menuClick('#ourservices')" class="btn-white-transparent-xl">{{ tl.slider.ourservices }}</a>
                </div>
            </li>
        </ul>
    </div>
</div>