{{> navbar}}

<div id="insights-page" class="service-page">
    <div class="choose-service">
        <ul class="services">
            <li class="notactive strategy">
                <a href="/strategy-as-a-service">Strategy</a>
            </li>
            <li class="active insights">
                Insights<span> as a Service</span>
            </li>
            <li class="notactive solutioning">
                <a href="/solutioning-as-a-service">Solutioning</a>
            </li>
            <li class="notactive management">
                <a href="/management-as-a-service">Management</a>
            </li>
        </ul>
    </div>
    
    <div class="container page-text">
        <h2 class="page-title">{{ tl.insightspage.pagetitle }}</h2>
        <div class="paragraph">
            <p class="left-text">
                {{ tl.insightspage.lefttext }}
            </p>
            <p class="right-text">
                {{ tl.insightspage.righttext }}
            </p>
        </div>

        <div class="service-circles">
            <div class="circle">
                <a class="service-circle circle-1" onclick="openModal('#spend-modal')">
                    <h4 class="circle-title">{{ tl.insightspage.spend }}</h4><br />
                    <p>{{ tl.insightspage.moreinfo }} <span class="fa fa-caret-down"></span></p>
                </a>
            </div>
            <div class="circle">
                <a class="service-circle circle-2" onclick="openModal('#contract-modal')">
                    <h4 class="circle-title">{{ tl.insightspage.contract }}</h4><br />
                    <p>{{ tl.insightspage.moreinfo }} <span class="fa fa-caret-down"></span></p>
                </a>
            </div>
            <div class="circle">
                <a class="service-circle circle-3" onclick="openModal('#value-modal')">
                    <h4 class="circle-title">{{ tl.insightspage.value }}</h4><br />
                    <p>{{ tl.insightspage.moreinfo }} <span class="fa fa-caret-down"></span></p>
                </a>
            </div>
            <div class="circle">
                <a class="service-circle circle-4" onclick="openModal('#compliance-modal')">
                    <h4 class="circle-title">{{ tl.insightspage.compliance }}</h4><br />
                    <p>{{ tl.insightspage.moreinfo }} <span class="fa fa-caret-down"></span></p>
                </a>
            </div>
        </div>
        <div class="text-center buttons">
            <a href="/customer-case-insights" class="btn-primary-invert-xl">{{ tl.ourservices.righttitle }}</a>
        </div>
    </div>
</div>

<div id="spend-modal" class="modal">
    <div class="modal-content">
        <div class="modal-title">
            <h3 class="title">{{ tl.insightspage.modal.spendtitle }}</h2>
            <a onclick="closeModal('#spend-modal')" class="close">&times;</a>
        </div>
        <div class="modal-body">
            {{ tl.insightspage.modal.spendtext }}
        </div>
    </div>
</div>

<div id="contract-modal" class="modal">
    <div class="modal-content">
        <div class="modal-title">
            <h3 class="title">{{ tl.insightspage.modal.contracttitle }}</h2>
            <a onclick="closeModal('#contract-modal')" class="close">&times;</a>
        </div>
        <div class="modal-body">
            {{ tl.insightspage.modal.contracttext }}
        </div>
    </div>
</div>

<div id="value-modal" class="modal">
    <div class="modal-content">
        <div class="modal-title">
            <h3 class="title">{{ tl.insightspage.modal.valuetitle }}</h2>
            <a onclick="closeModal('#value-modal')" class="close">&times;</a>
        </div>
        <div class="modal-body">
            {{ tl.insightspage.modal.valuetext }}
        </div>
    </div>
</div>

<div id="compliance-modal" class="modal">
    <div class="modal-content">
        <div class="modal-title">
            <h3 class="title">{{ tl.insightspage.modal.compliancetitle }}</h2>
            <a onclick="closeModal('#compliance-modal')" class="close">&times;</a>
        </div>
        <div class="modal-body">
            {{ tl.insightspage.modal.compliancetext }}
        </div>
    </div>
</div>

{{> contact-extended}}

{{> footer}}