{{> navbar}}

<section id="customer-management" class="customer-case">
     <div class="choose-service">
        <ul class="services">
            <li class="notactive strategy">
                <a href="/customer-case-strategy">Strategy</a>
            </li>
            <li class="notactive insights">
                <a href="/customer-case-insights">Insights</a>
            </li>
            <li class="notactive solutioning">
                <a href="/customer-case-solutioning">Solutioning</a>
            </li>
            <li class="active management">
                Management<span> as a Service</span>
            </li>
        </ul>
    </div>

    <h2 class="section-title">{{ tl.managementpage.case.title }}</h2>
    <div class="title-border"></div> 
    <div class="quote">
        <div class="inner">
            <span class="fas fa-quote-left"></span>
            <h2 class="text">{{ tl.managementpage.case.quote }}</h2>
            <div class="logo">
                <img src="./public/images/logos/cz-logo.svg" alt="CZ logo">
            </div>
            <h3 class="name">- Vincent van Luxemborg</h3>
        </div>
    </div>
        <div class="container clearfix">
        <div class="text-center">
            <h4>{{ tl.managementpage.case.numbers }}</h4>
        </div>
        <div class="counters">
            <div class="counter counter-1">
                <h4 class="name">{{ tl.managementpage.case.turnover }}</h4>
                <h3>&euro; <span class="num" data-count="9.35">0</span> {{ tl.managementpage.case.billion }}</h3>
            </div>
            <div class="counter counter-2">
                <h4 class="name">Spend</h4>
                <h3>&euro; <span class="num" data-count="148">0</span> MLN</h3>
            </div>
            <div class="counter counter-3">
                <h4 class="name">{{ tl.managementpage.case.suppliers }}</h4>
                <h3><span class="num" data-count="1855">0</span></h3>
            </div>
            <div class="counter counter-4">
                <h4 class="name">{{ tl.managementpage.case.invoices }}</h4>
                <h3><span class="num" data-count="35925">0</span></h3>
            </div>
        </div>
        <div class="cases">
            <div class="row">
                <div class="case case-1 column">
                    <div class="title-block">
                        <h3>{{ tl.managementpage.case.block1title }}</h3>
                    </div>
                    <div class="body-block">
                        <ul>
                            <li>{{ tl.managementpage.case.block1text1 }}</li>
                            <li>{{ tl.managementpage.case.block1text2 }}</li>
                            <li>{{ tl.managementpage.case.block1text3 }}</li>
                            <li>{{ tl.managementpage.case.block1text4 }}</li>
                            <li>{{ tl.managementpage.case.block1text5 }}</li>
                            <li>{{ tl.managementpage.case.block1text6 }}</li>
                            <li>{{ tl.managementpage.case.block1text7 }}</li>
                        </ul>
                    </div>
                </div>
                <div class="column case case-2">
                    <div class="title-block">
                        <h3>{{ tl.managementpage.case.block2title }}</h3>
                    </div>
                    <div class="body-block">
                        <ul>
                            <li>{{ tl.managementpage.case.block2text1 }}</li>
                            <li>{{ tl.managementpage.case.block2text2 }}</li>
                            <li>{{ tl.managementpage.case.block2text3 }}</li>
                            <li>{{ tl.managementpage.case.block2text4 }}</li>
                            <li>{{ tl.managementpage.case.block2text5 }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column case case-3">
                    <div class="title-block">
                        <h3>{{ tl.managementpage.case.block3title }}</h3>
                    </div>
                    <div class="body-block">
                        <ul>
                            <li>{{ tl.managementpage.case.block3text1 }}</li>
                            <li>{{ tl.managementpage.case.block3text2 }}</li>
                        </ul>
                    </div>
                </div>
                <div class="column case case-4">
                    <div class="title-block">
                        <h3>{{ tl.managementpage.case.block4title }}</h3>
                    </div>
                    <div class="body-block">
                        <ul>
                            <li>{{ tl.managementpage.case.block4text1 }}</li>
                            <li>{{ tl.managementpage.case.block4text2 }}</li>
                            <li>{{ tl.managementpage.case.block4text3 }}</li>
                            <li>{{ tl.managementpage.case.block4text4 }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center buttons">
        <a href="/management-as-a-service" class="btn-primary-invert-xl">Management as a Service</a>
    </div>
</section>

{{> contact-extended}}

{{> footer}}