<div class="roadmap-page">
    {{> wownav}}

    <div class="steps">
        <div class="step-hexagons">
            <ul class="stappenplan-hexagon">
                <li class="stage-hexagon hexagon-stage-1 hexagon-stage-empathy active-li">
                    <svg id="image-fill" class="active-svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="-2 0 103 94" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <pattern id="image-bg-emphaty" x="-1" y="-1" height="100" width="100" patternUnits="userSpaceOnUse">
                                <image width="100" height="100" xlink:href="./public/images/hexagons/roadmap-empathy.png"/>
                            </pattern>
                        </defs>
                        <polygon class="hex hex-unlocked" points="73,91 24,91 0,49 24,6 73,6 98,48" fill="url('#image-bg-emphaty')" />
                        <a xlink:href="./roadmap?step=empathy">
                            <polygon class="stappenplanpage-svg-overlay" fill="#fff" points="73,91 24,91 0,49 24,6 73,6 98,48" />
                        </a>
                        <line class="svg-line" x1="20" y1="60" y2="60" stroke-width="1" stroke="#ef7c14" x2="73"/>
                        <text class="svg-text" x="47" y="50" font-size="15" text-anchor="middle">
                        Empathy
                        </text>
                    </svg>
                </li>
                <li class="stage-hexagon hexagon-stage-2 hexagon-stage-define active-li">
                    <svg class="active-svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="-2 0 103 94" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                        <pattern id="image-bg-define" x="-1" y="-1" height="100" width="100" patternUnits="userSpaceOnUse">
                            <image width="100" height="100" xlink:href="./public/images/hexagons/roadmap-define.png"/>
                        </pattern>
                        </defs>
                        <polygon class="hex hex-unlocked" points="73,91 24,91 0,49 24,6 73,6 98,48" fill="url('#image-bg-define')" />
                        <a xlink:href="./roadmap?step=define">
                            <polygon class="stappenplanpage-svg-overlay" fill="#fff" points="73,91 24,91 0,49 24,6 73,6 98,48" />
                        </a>
                        <line class="svg-line" x1="20" y1="60" y2="60" stroke-width="1" stroke="#33BCD1" x2="73"/>
                        <text class="svg-text" x="47" y="50" font-size="15" text-anchor="middle">
                        Define
                        </text>
                    </svg>
                </li>
                <li class="stage-hexagon hexagon-stage-3 hexagon-stage-ideate active-li">
                    <svg class="active-svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="-2 0 103 94" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                        <pattern id="image-bg-ideate" x="-1" y="-1" height="100" width="100" patternUnits="userSpaceOnUse">
                            <image width="100" height="100" xlink:href="./public/images/hexagons/roadmap-ideate.png"/>
                        </pattern>
                        </defs>
                        <polygon class="hex hex-unlocked" points="73,91 24,91 0,49 24,6 73,6 98,48" fill="url('#image-bg-ideate')" />
                        <a xlink:href="./roadmap?step=ideate">
                            <polygon class="stappenplanpage-svg-overlay" fill="#fff"  points="73,91 24,91 0,49 24,6 73,6 98,48" />
                        </a>
                        <line class="svg-line" x1="20" y1="60" y2="60" stroke-width="1" stroke="#C3C750" x2="73"/>
                        <text class="svg-text" x="47" y="50" font-size="15" text-anchor="middle">
                        Ideate
                        </text>
                    </svg>
                </li>
                <li class="stage-hexagon hexagon-stage-4 hexagon-stage-prototype active-li">
                    <svg class="active-svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="-2 0 103 94" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                        <pattern id="image-bg-prototype" x="-1" y="-1" height="100" width="100" patternUnits="userSpaceOnUse">
                            <image width="100" height="100" xlink:href="./public/images/hexagons/roadmap-prototype.png"/>
                        </pattern>
                        </defs>
                        <polygon class="hex hex-unlocked" points="73,91 24,91 0,49 24,6 73,6 98,48" fill="url('#image-bg-prototype')" />
                        <a xlink:href="./roadmap?step=prototype">
                            <polygon class="stappenplanpage-svg-overlay" fill="#fff" points="73,91 24,91 0,49 24,6 73,6 98,48" />
                        </a>
                        <line class="svg-line" x1="20" y1="60" y2="60" stroke-width="1" stroke="#EAD82B" x2="73"/>
                        <text class="svg-text" x="47" y="50" font-size="15" text-anchor="middle">
                        Prototype
                        </text>
                    </svg>
                </li>
                <li class="stage-hexagon hexagon-stage-5 hexagon-stage-test active-li">
                    <svg class="active-svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="-2 0 103 94" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                        <pattern id="image-bg-test" x="-1" y="-1" height="100" width="100" patternUnits="userSpaceOnUse">
                            <image width="100" height="100" xlink:href="./public/images/hexagons/roadmap-test.png"/>
                        </pattern>
                        </defs>
                        <polygon class="hex hex-unlocked" points="73,91 24,91 0,49 24,6 73,6 98,48" fill="url('#image-bg-test')" />
                        <a xlink:href="./roadmap?step=test">
                            <polygon class="stappenplanpage-svg-overlay" fill="#fff"  points="73,91 24,91 0,49 24,6 73,6 98,48" />
                        </a>
                        <line class="svg-line" x1="20" y1="60" y2="60" stroke-width="1" stroke="#868689" x2="73"/>
                        <text class="svg-text" x="47" y="50" font-size="15" text-anchor="middle">
                        Test
                        </text>
                    </svg>
                </li>
            </ul>
        </div>
        <div class="section empathy">
            <div class="text-container">
                <div class="mobile-header">
                    <h2>Empathy</h2>
                    <p>{{ tl.wowpage.headerempathy }} <a href="{{ tl.wowpage.linkempathy }}">Empathy map</a></p>
                </div>
                <div class="stage">
                    <h3 class="stage-title">{{ tl.roadmappage.stage1 }}</h3>
                    <p>{{ tl.roadmappage.stage1text1 }}</p>
                    <p>{{ tl.roadmappage.stage1text2 }}</p>
                    <div class="text-center">
                        <a class="btn-primary-invert" href="http://blog.simplifyingpurchasing.com/2018/02/14/empathy-map-stage_1/" target="_blank">{{ tl.roadmappage.gotoblog }}</a>
                    </div>
                </div>
            </div>
            <div class="img-container">
                <img src="{{ tl.wowpage.linkempathy }}" alt="Empathy map">
                <div class="row">
                    <div class="column">
                        <a class="btn-primary" href="{{ tl.wowpage.linkempathy }}" download>{{ tl.roadmappage.downloading }}</a>
                    </div>
                    <div class="column text-center">
                        <a href="./roadmap?step=define">{{ tl.roadmappage.stage2 }} ></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section define">
            <div class="text-container">
                <div class="mobile-header">
                    <h2>Define</h2>
                    <p>{{ tl.wowpage.headerdefine }} <a href="{{ tl.wowpage.linkdefine }}">Define map</a></p>
                </div>
                <div class="stage">
                    <h3 class="stage-title">{{ tl.roadmappage.stage2 }}</h3>
                    <p>{{ tl.roadmappage.stage2text1 }}</p>
                    <p>{{ tl.roadmappage.stage2text2 }}</p>
                    <p>{{ tl.roadmappage.stage2text3 }}</p>
                    <p>{{ tl.roadmappage.stage2text4 }}</p>
                    <div class="text-center">
                        <a class="btn-primary-invert" href="http://blog.simplifyingpurchasing.com/2018/02/21/define-stage-2-define-map/" target="_blank">{{ tl.roadmappage.gotoblog }}</a>
                    </div>
                </div>
            </div>
            <div class="img-container">
                <img src="{{ tl.wowpage.linkdefine }}" alt="Define map">
                <div class="row">
                    <div class="column">
                        <a class="btn-primary" href="{{ tl.wowpage.linkdefine }}" download>{{ tl.roadmappage.downloading }}</a>
                    </div>
                    <div class="column text-center">
                        <a href="./roadmap?step=ideate">{{ tl.roadmappage.stage3 }} ></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section ideate">
            <div class="text-container">
                <div class="mobile-header">
                    <h2>Ideate</h2>
                    <p>{{ tl.wowpage.headerideate }} <a href="{{ tl.wowpage.linkideate }}">Ideate map</a></p>
                </div>
                <div class="stage">
                    <h3 class="stage-title">{{ tl.roadmappage.stage3 }}</h3>
                    <p>{{ tl.roadmappage.stage3text1 }}</p>
                    <p>{{ tl.roadmappage.stage3text2 }}</p>
                    <p>{{ tl.roadmappage.stage3text3 }}</p>
                    <div class="text-center">
                        <a class="btn-primary-invert" href="http://blog.simplifyingpurchasing.com/2018/02/28/ideate-stage-3-ideate-map/" target="_blank">{{ tl.roadmappage.gotoblog }}</a>
                    </div>
                </div>
            </div>
            <div class="img-container">
                <img src="{{ tl.wowpage.linkideate }}" alt="Ideate map">
                <div class="row">
                    <div class="column">
                        <a class="btn-primary" href="{{ tl.wowpage.linkideate }}" download>{{ tl.roadmappage.downloading }}</a>
                    </div>
                    <div class="column text-center">
                        <a href="./roadmap?step=prototype">{{ tl.roadmappage.stage4 }} ></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section prototype">
            <div class="text-container">
                <div class="mobile-header">
                    <h2>Prototype</h2>
                    <p>{{ tl.wowpage.headerprototype }} <a href="{{ tl.wowpage.linkprototype }}">Prototype map</a></p>
                </div>
                <div class="stage">
                    <h3 class="stage-title">{{ tl.roadmappage.stage4 }}</h3>
                    <p>{{ tl.roadmappage.stage4text1 }}</p>
                    <p>{{ tl.roadmappage.stage4text2 }}</p>
                    <p>{{ tl.roadmappage.stage4text3 }}</p>
                    <div class="text-center">
                        <a class="btn-primary-invert" href="http://blog.simplifyingpurchasing.com/2018/03/07/prototype-stage-4-prototype-map/" target="_blank">{{ tl.roadmappage.gotoblog }}</a>
                    </div>
                </div>
            </div>
            <div class="img-container">
                <img src="{{ tl.wowpage.linkprototype }}" alt="Prototype map">
                <div class="row">
                    <div class="column">
                        <a class="btn-primary" href="{{ tl.wowpage.linkprototype }}" download>{{ tl.roadmappage.downloading }}</a>
                    </div>
                    <div class="column text-center">
                        <a href="./roadmap?step=test">{{ tl.roadmappage.stage5 }} ></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section test">
            <div class="text-container">
                <div class="mobile-header">
                    <h2>Test</h2>
                    <p>{{ tl.wowpage.headertest }} <a href="{{ tl.wowpage.linktest }}">Test map</a></p>
                </div>
                <div class="stage">
                    <h3 class="stage-title">{{ tl.roadmappage.stage5 }}</h3>
                    <p>{{ tl.roadmappage.stage5text1 }}</p>
                    <p>{{ tl.roadmappage.stage5text2 }}</p>
                    <p>{{ tl.roadmappage.stage5text3 }}</p>
                    <p>{{ tl.roadmappage.stage5text4 }}</p>
                    <div class="text-center">
                        <a class="btn-primary-invert" href="http://blog.simplifyingpurchasing.com/2018/03/15/test-stage-5-test-map/" target="_blank">{{ tl.roadmappage.gotoblog }}</a>
                    </div>
                </div>
            </div>
            <div class="img-container">
                <img src="{{ tl.wowpage.linktest }}" alt="Test map">
                <div class="row">
                    <div class="column">
                        <a class="btn-primary" href="{{ tl.wowpage.linktest }}" download>{{ tl.roadmappage.downloading }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="slide-menu-stages">
            <ul class="mobile-stages-nav">
                <li class="stage-hexagon hexagon-stage-1 empathy">
                    <a href="./roadmap?step=empathy">Empathy</a>
                </li>
                <li class="stage-hexagon hexagon-stage-2 define">
                    <a href="./roadmap?step=define">Define</a>
                </li>
                <li class="stage-hexagon hexagon-stage-3 ideate">
                    <a href="./roadmap?step=ideate">Ideate</a>
                </li>
                <li class="stage-hexagon hexagon-stage-4 prototype">
                    <a href="./roadmap?step=prototype">Prototype</a>
                </li>
                <li class="stage-hexagon hexagon-stage-5 test">
                    <a href="./roadmap?step=test">Test</a>
                </li>
            </ul>
            <a class="stages-menu-btn" onclick="openRoadmapMobileMenu()">
                {{ tl.roadmappage.morestages }} <span class="fa fa-chevron-right"></span>
            </a>
        </div>
    </div>
</div>