{{> navbar}}

<div id="solutioning-page" class="service-page">
    <div class="choose-service">
        <ul class="services">
            <li class="notactive strategy">
                <a href="/strategy-as-a-service">Strategy</a>
            </li>
            <li class="notactive insights">
                <a href="/insights-as-a-service">Insights</a>
            </li>
            <li class="active solutioning">
                Solutioning<span> as a Service</span>
            </li>
            <li class="notactive management">
                <a href="/management-as-a-service">Management</a>
            </li>
        </ul>
    </div>
    
    <div class="container page-text">
        <h2 class="page-title">{{ tl.solutioningpage.pagetitle }}</h2>
        <div class="paragraph">
            <p class="left-text">
                {{ tl.solutioningpage.lefttext }}
            </p>
            <p class="right-text">
                {{ tl.solutioningpage.righttext }}
            </p>
        </div>

        <div class="service-circles">
            <div class="circle">
                <a class="service-circle circle-1" onclick="openModal('#integration-modal')">
                    <h4 class="circle-title">{{ tl.solutioningpage.integration }}</h4><br />
                    <p>{{ tl.solutioningpage.moreinfo }} <span class="fa fa-caret-down"></span></p>
                </a>
            </div>
            <div class="circle">
                <a class="service-circle circle-2" onclick="openModal('#transformation-modal')">
                    <h4 class="circle-title">{{ tl.solutioningpage.transformation }}</h4><br />
                    <p>{{ tl.solutioningpage.moreinfo }} <span class="fa fa-caret-down"></span></p>
                </a>
            </div>
            <div class="circle">
                <a class="service-circle circle-3" onclick="openModal('#transition-modal')">
                    <h4 class="circle-title">{{ tl.solutioningpage.transition }}</h4><br />
                    <p>{{ tl.solutioningpage.moreinfo }} <span class="fa fa-caret-down"></span></p>
                </a>
            </div>
        </div>

        <div class="software-logos">
            <a class="sap" href="https://www.sap.com/" target="_blank">
                <img class="logo sap bw" src="./public/images/partners/sap-bw.png" alt="SAP">
                <img class="logo sap color" src="./public/images/partners/sap-color.png" alt="SAP">
            </a>
            <a class="coupa" href="https://www.coupa.com/" target="_blank">
                <img class="logo coupa bw" src="./public/images/partners/coupa-bw.png" alt="SAP Ariba">
                <img class="logo coupa color" src="./public/images/partners/coupa-color.png" alt="SAP Ariba">
            </a>
            <a class="basware" href="https://www.basware.com/" target="_blank">
                <img class="logo basware bw" src="./public/images/partners/basware-bw.png" alt="Coupa">
                <img class="logo basware color" src="./public/images/partners/basware-color.png" alt="Coupa">
            </a>
            <a class="ariba" href="https://www.ariba.com/" target="_blank">
                <img class="logo ariba bw" src="./public/images/partners/ariba-bw.png" alt="Basware">
                <img class="logo ariba color" src="./public/images/partners/ariba-color.png" alt="Basware">
            </a>
            <a class="zycus" href="https://www.zycus.com/" target="_blank">
                <img class="logo zycus bw" src="./public/images/partners/zycus-bw.png" alt="Zycus">
                <img class="logo zycus color" src="./public/images/partners/zycus-color.png" alt="Zycus">
            </a>
        </div>
        <div class="text-center buttons">
            <a href="/customer-case-solutioning" class="btn-primary-invert-xl">{{ tl.ourservices.righttitle }}</a>
        </div>
    </div>
</div>

<div id="integration-modal" class="modal">
    <div class="modal-content">
        <div class="modal-title">
            <h3 class="title">{{ tl.solutioningpage.modal.integrationtitle }}</h2>
            <a onclick="closeModal('#integration-modal')" class="close">&times;</a>
        </div>
        <div class="modal-body">
            {{ tl.solutioningpage.modal.integrationtext }}
        </div>
    </div>
</div>

<div id="transformation-modal" class="modal">
    <div class="modal-content">
        <div class="modal-title">
            <h3 class="title">{{ tl.solutioningpage.modal.transformationtitle }}</h2>
            <a onclick="closeModal('#transformation-modal')" class="close">&times;</a>
        </div>
        <div class="modal-body">
            {{ tl.solutioningpage.modal.transformationtext }}
        </div>
    </div>
</div>

<div id="transition-modal" class="modal">
    <div class="modal-content">
        <div class="modal-title">
            <h3 class="title">{{ tl.solutioningpage.modal.transitiontitle }}</h2>
            <a onclick="closeModal('#transition-modal')" class="close">&times;</a>
        </div>
        <div class="modal-body">
            {{ tl.solutioningpage.modal.transitiontext }}
        </div>
    </div>
</div>

{{> contact-extended}}

{{> footer}}